{{! ---
component: form
============================================

Options:
- options {Object} - Contains all options
- options.settings.context {String} - Context class
- options.settings.classes {String} - Modifier classes
- options.settings.action {String} - Form action
- options.settings.method {String} - Form method
- options.settings.ajax {Boolean} - Init form module
- options.settings.ajaxOptions {Array} - Array of JS options (key:value)

Important Notes:
This component is written as wrapWith template, so you have the possibility to place your custom content.

--- }}

<form class="c-form{{#if options.settings.context}}--{{options.settings.context}}{{else}}--default{{/if}}{{#if
		options.settings.classes}} {{options.settings.classes}}{{/if}}" action="{{options.settings.action}}"
      method="{{options.settings.method}}" data-css="c-form"{{#if options.settings.ajax}}
      data-js-module="form-ajax"{{#if options.settings.ajaxOptions}}data-js-options='{ {{#each
		      options.settings.ajaxOptions}}"{{jsKey}}": {{#unless
		      jsObject}}"{{/unless}}{{{jsValue}}}{{#unless jsObject}}"{{/unless}}{{#if
		      @last}}{{else}}, {{/if}}{{/each}} }'{{/if}}{{/if}}>
	{{{yield}}}
</form>