<form class="c-form{{#if options.settings.formContextClass}}--{{options.settings.formContextClass}}{{else}}--default{{/if}}
	{{#if options.settings.formClasses}} {{options.settings.formClasses}}{{/if}}"
      action="/{{@root.metadata.country}}/{{@root.metadata.lang}}{{options.settings.formAction}}"
      method="{{options.settings.formMethod}}"
      data-css="c-form"
	{{#if options.settings.formAjax}}
	  data-js-module="form-ajax"
		  {{#if options.settings.formJsOptions}} data-js-options='{
            {{#each options.settings.formJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
         }'{{/if}}
	{{/if}}>
	{{{yield}}}
</form>