<form class="c-form{{#if
		props.settings.formContextClass}}--{{props.settings.formContextClass}}{{else}}--default{{/if}}
	{{#if props.settings.formClasses}} {{props.settings.formClasses}}{{/if}}"
      action="/{{@root.metadata.country}}/{{@root.metadata.lang}}{{props.settings.formAction}}"
      method="{{props.settings.formMethod}}"
      data-css="c-form"
	{{#if options.settings.formAjax}}
	  data-js-module="form-ajax"
		  {{#if props.settings.formJsOptions}} data-js-options='{
            {{stringify props.settings.formJsOptions}}
         }'{{/if}}
	{{/if}}>
	{{{yield}}}
</form>
